endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set mysql_connection_string "server=83.150.218.23;port=3306;database=s0_GCITY;userid=u0_jSvztbo8yK;password=jBviz9LkLgF2mRQCxwiCrZD7"
#set mysql_debug "true"
add_ace resource.ZiZou command.sets allow
add_ace resource.ZiZou command.add_ace allow
add_ace resource.ZiZou command.add_principal allow
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
#    set onesync on
add_ace group.owner command allow
sv_scriptHookAllowed 0
exec "resources.cfg"
sets locale "fr-FR" 
set sv_enforceGameBuild 3095
set sv_filterRequestControl 3
sv_hostname "GCITY | ROLEPLAY"
sets sv_projectName "GCITY | ROLEPLAY"
sets sv_projectDesc "GCITY | ROLEPLAY"
sets Developpeur "opx"
sets Discord "https://discord.gg/FHnWw29bnv" 
sets Base "MADE BY OPX"
#sets activitypubFeed VirtuelRP@fivem.social
sets Tags "rp fr"
sets locale "fr-FR"
sets Cheveux "MADE BY OPX"
sets Vêtements "MADE BY OPX"
sets Developpement "🛠️ Notre serveur dispose d'un Développement unique et constant."
sv_endpointprivacy true
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_enableUi 1
setr voice_enableProximityCycle 1
setr voice_enableSubmix 1
setr voice_debugMode 0
setr voice_enableRadioAnim 1
setr voice_defaultVolume 1.0
load_server_icon "logo.png"
sv_maxclients 5
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
#    set onesync on
set steam_webApiKey none
sv_licenseKey cfxk_wFBxM1kKmTW9WQ24mrKk_3Lxc5x
set net_tcpConnLimit 65535
sv_authMinTrust 4
add_ace resource.ZiZouBot command.add_ace allow
add_ace resource.ZiZouBot command.add_principal allow
add_ace resource.ZiZouBot command.remove_principal allow
add_ace resource.ZiZouBot command allow
add_ace resource.ZiZouBot command.stop allow
