

/*Line*/
.linetop{
	position:absolute;
	right:0px;
	top:10px;
	width:2px;
	height:20px;
	font-weight: 900;
}
/*Line*/
.linecash{
	position:absolute;
	right:0px;
	top:6px;
	width:2px;
	height:12px;
}
.linebank{
	position:absolute;
	right:0px;
	top:6px;
	width:2px;
	height:17px;
	font-weight: 900;
}

.lineblack{position:absolute;
	right:0px;
	top:6px;
	width:2px;
	height:17px;
}

* {
	padding: 0;
	margin: 0;
    font-family:Teko,sans-serif
}


#infos {
    position: absolute;
    top: 34px;
    right: 20px;
    width: 235px;
}

.info {
	position: relative;
	width: 235px;
	height: 32px;
	margin-bottom: 10px;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.247) 100%); 
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right: 4px solid rgb(135, 0, 255);

}

.info .container {
	text-align: right;
	margin-right: 15px;
	justify-content: flex-end;
}

.info .container img.badge {
	height: 22px;
	width: 25px;
	margin-right: 15px;
}

.info .container .badge {
	position: absolute;
    right: -5px;
    margin-top: 5px;
}

/* .info .container .state {
	position: absolute;
    right: 40px;
	overflow: hidden;
	top: 6px;
	left: 10px;
	color: white;
	font-size: 18px;
	white-space: nowrap;
	letter-spacing: -1px;
	text-overflow: ellipsis;
	text-transform: uppercase;
} */

.info-server {
	position: relative;
	width: 235px;
	height: 48px;
	margin-bottom: 7px;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.247) 100%);
	color: white;
	font-size: 14px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right: 4px solid rgb(135, 0, 255);
}

.container-server-top {
	display: inline-block;
}

.container-server {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	align-items: center;
	text-align: center;
}
	
.g1 { 
	grid-area: 1 / 1 / 2 / 4;
	display: table;
 }

.g2 { 
	grid-area: 1 / 4 / 2 / 7;
	display: table;
 }

.g3 { 
	grid-area: 2 / 1 / 3 / 7;
	display: table;
	text-align: left;
 }

.g4 { 
	grid-area: 1 / 7 / 3 / 8;
	display: table;
 }

.g4 img {
	width: 40px;
	margin-right: 5px;
}

.g1 .badge, .g2 .badge {
	margin-right: 5px;
	width: 16px;
}

.g1-content, .g2-content, .g3-content, .g4-content {
	margin-top: 1px;
}
@font-face{
	font-family:Rubik;
	src:url(./fonts/rubik-b35f96c1)
}
@font-face{
	font-family:Teko;
	src:url(./fonts/Teko-54d71c9d.woff)
}
@font-face{
	font-family:Rubik400;
	src:url(./fonts/Rubik-Regular-6130b0b9.ttf)
}
@font-face{
	font-family:Rubik600;
	src:url(./fonts/Rubik-SemiBold-029548e6.ttf)
}

.discordgg{
	position:absolute;
	right:53px;
	bottom:-12px;
	letter-spacing:0.2px;
	font-weight:500;
	font-size:20px;
	font-family:Teko,sans-serif;
	color:#fff;
	text-shadow:0 .0925925926vh 0 rgba(0,0,0,.67)
}
.countgg{
	position:absolute;
	right:145px;
	top:-4px;
	align-content:flex-start;
}
.countggg{
	position:absolute;
	right:25px;
	top:-4px;
	width:200px;
	align-content:flex-start;
	color:rgba(255, 255, 255, 0.9);
	text-shadow:0 .0925925926vh 0 rgba(0,0,0,.67)
}
.playergg{
	position:absolute;
	right:60px;
	top:-4px;
	align-content:flex-start;
}
.state{
	position:absolute;
	right:40px;
	top:0px;
	width: 1000px;
	font-weight:500;
	font-size:18px;
	font-family:Teko,sans-serif;
	color:#fff;
	text-shadow:0 .0925925926vh 0 rgba(0,0,0,.67)
}
.bankgg{
	position:absolute;
	right:40px;
	top:0px;
	/*Fonts*/
	font-size:18px;
	font-weight:500;
	font-family:Teko,sans-serif;
	color:#fff;
	text-shadow:0 .0925925926vh 0 rgba(0,0,0,.67)
}
.blackgg{
	position:absolute;
	right:40px;
	top:0px;
	/*Fonts*/
	font-size:18px;
	font-family:Teko,sans-serif;
	color:#fff;
	text-shadow:0 .0925925926vh 0 rgba(0,0,0,.67)
}
.logo{
	position:absolute;
	right:5px;
	top:-5px;
	width:60px;
	height:40px;
}
.imagegroup{
	position:absolute;
	right:170px;
	top:-5px;
	height:15px;
	width:15px;
}
.imageplayer{
	position:absolute;
	right:85px;
	top:-5px;
	height:15px;
	width:15px;
}
.imagecash{
	position:absolute;
	right:8px;
	top:0px;
	width:23px;
	height:23px;
}
.imagebank{
	position:absolute;
	right:9px;
	top:-2px;
	width:23px;
	height:23px;
}
.imageblack{
	position:absolute;
	right:9px;
	top:-2px;
	width:23px;
	height:23px;
}



